<div class="container bg-dark-subtle p-5">
  <div class="row">
    <div class="col-12 mb-3 btn-primary p-4">
      <h1 class="text-center">CADASTRO DE PRODUTOS</h1>
      <form [formGroup]="produtcForm">
        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text">ID E NOME</span>
            <input type="text" aria-label="id" class="form-control" formControlName="id">
            <input type="text" aria-label="id" class="form-control" formControlName="name">
            <span class="input-group-text">PREÇO E QUANTIDADE</span>
            <input type="text" aria-label="id" class="form-control" formControlName="price">
            <input type="text" aria-label="id" class="form-control" formControlName="quantity">
            <button type="button" class="btn btn-primary" (click)="save()">SALVAR</button>
          </div>
        </div>
        <div class="col-6 mb-3 p-1">
          <span class="input-group-text">DESCRIÇÃO DO PRODUTO</span>
          <textarea class="form-control" aria-label="Descrição do produto"></textarea>
          <div class="d-grid gap-2 p-1">
            <button class="btn btn-primary" type="button">BLOQUEAR PRODUTO</button>
          </div>
        </div>
      </form>
      <h1 class="text-center">PRODUTOS</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">PREÇO</th>
            <th scope="col">QUANTIDADE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of products">
            <th scope="row">{{products.id}}</th>
            <td>{{products.name}}</td>
            <td>{{products.price}}</td>
            <td>{{products.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>